@charset "UTF-8";
/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/
body{
    background-color: rgb(91, 236, 188);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(12, 97, 69)
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}
h2{
    color: rgb(107, 119, 115);
}

.basico{
    color: rgb(67, 133, 67);
    font-weight: bold;

}
.intermediario{
    color: rgb(172, 172, 75);

}
.avançado{
    color: #8a3a3a;

}
.destaque{
    background-color: rgba(119, 119, 61, 0.671);
}
p#texto{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(233, 45, 45);
}