@charset "UTF-8"
/**/

body {

    background-color: lightgoldenrodyellow;
    color:chocolate;
    font-size: 12pt;
    font-family: arial;
}

h1 {
    color:rgb(166, 43, 43);
    
}
a {
    color:brown;
    text-decoration: none;
}
